@model DataEF.Users

@{
    ViewBag.Title = "Deletar usuário";
    ViewBag.SubTile = "Usuário";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Deseja realmente deletar o usuário ?
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.DisplayNameFor(model => model.UserId):
                                </div>
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.UserId)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.DisplayNameFor(model => model.ProfileId):
                                </div>
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.Profiles.Name)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.DisplayNameFor(model => model.Name):
                                </div>
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.Name)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.DisplayNameFor(model => model.Email):
                                </div>
                                <div class="col-md-3">
                                    @Html.DisplayFor(model => model.Email)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <input type="submit" class="btn btn-primary" value="Deletar" />
                                    <a  href="@Url.Action("Index")" class="btn btn-default">Voltar</a>
                                </p>
                            </div>
   
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

